body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(../img/fundo-de-papel-amassado-branco-artesanato-simples\ 3.png);
  background-size: cover;
  overflow-x: hidden;

}

#logoHome {
  width: 200px;
  margin: 15px;
}

/* header menu*/
#caixaDosLinks{
  text-align: center;
}

.menu{
  background: rgb(240, 238, 238);
  position: absolute;
  width: 100%;
  z-index: 9999;
}



.navbar-toggler-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.navbar{
  background: rgb(247, 247, 247);
}



.linkMenu{
  text-decoration: none;
  font-size: 20px;
  margin: 5px;
  color: black;
}

.linkMenu:hover{
  color: #FD5C63;
}


#botaoMenu{
  margin-right: 23px;
}






.divisoriaHeader {
  left: 0;
  width: 100vw;
  border: solid red;
}


.divisoriaFooter {
  left: 0;
  width: 100vw;
  border: solid red;

}


footer {
  margin-top: auto;
  background: black;
}

#footer {
  position: relative;
}

#logoSenaiFooter {
  width: 250px;
  margin-top: 20px;
}

.containerLogoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoSenaiFooter {
  max-width: 100%;
  max-height: 100%;
}

.mensagemFooter {
  text-align: center;
  margin-top: 20px;
}

.container {
  position: relative;
}


#scrollVagas {
  max-height: 800px; 
  overflow-y: auto; 
  padding: 10px; 

}
.cardVaga {
  border: 1px solid #000; 
  padding: 10px; 
  margin-bottom: 10px; 
}
