.centralSenaiMenu {
    width: auto;
    height: 72px;
    border: 1px solid #000;
    background: #EC1C24;    
}

.centralLink {
    color: inherit;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif
}