body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(../img/fundo-de-papel-amassado-branco-artesanato-simples\ 3.png);
  background-size: cover;
  overflow-x: hidden;

}

#logoHome {
  width: 220px;
  margin: 15px;
}

/* header menu*/
#caixaDosLinks{
  text-align: center;
}

.menu{
   background: rgb(247, 247, 247);
  position: absolute;
  width: 100%;
  z-index: 9999;
}




.navbar-toggler-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#setaMenu{
  width: 40px;
}

.navbar{
  background: rgb(247, 247, 247);
}



.linkMenu{
  text-decoration: none;
  font-size: 20px;
  margin: 5px;
  color: black;
}

.linkMenu:hover{
  color: #FD5C63;
}


#botaoMenu{
  margin-right: 23px;
}





.divisoriaHeader {
  left: 0;
  width: 100vw;
  border: solid red;
}


.divisoriaFooter {
  left: 0;
  width: 100vw;
  border: solid red;

}


footer {
  margin-top: 5%;
  background: black;
}

#footer {
  position: relative;
}

#logoSenaiFooter {
  width: 250px;
  margin-top: 20px;
}

.containerLogoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoSenaiFooter {
  max-width: 100%;
  max-height: 100%;
}

.mensagemFooter {
  text-align: center;
  margin-top: 20px;
}

.container {
  position: relative;
}

.infoVaga{
  max-height: 120vh;
}

.scrollVagas {
  max-height: 780px;
  overflow-y: scroll;
}

.scrollVagas::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollVagas::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.scrollVagas::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}




.informacoesVagasScroll{
  max-height: 505px;
  overflow-y: scroll;
  
}



/* Barra Lateral css: */


  
.titulo {
  color: white;
}


.menuLateral {
  margin-top: 3.5%;
  background-color: white;
  width: 250px;
  max-height: 950px;
  height: 90%;
  position: absolute;
  left: -250px;
  border: 2px black solid;
  border-radius: 0px 50px 50px 0px;
  z-index: 111;
  transition: 0.5s;
}

.menuLateral .btnFecharLateral {
  position: relative;
  left: 215px;
  top: 10px;
  cursor: pointer;
}

.menuLateral ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.menuLateral ul li a:hover {
  background-color: #370707;
  transition: 0.5s;
}

.menuLateral ul ul li a {
  font-size: 16px;
  font-weight: 300;
  background-color: gray;
}

.menuLateral ul ul {
  display: none;
}

.menuLateral ul .itens1.mostra {
  display: block;
}

.menuLateral ul .itens2.mostra {
  display: block;
}

.menuLateral ul .itens3.mostra {
  display: block;
}

.menuLateral ul .itens4.mostra {
  display: block;
}



.menuLateral.mostra {
  left: 0;
}

ul li {
  list-style: none;
  margin-left: -19%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.item1, .item2, .item3, .item4 {
  background-color: #404040;
  border-radius: 0px 20px 20px 0px;
  width: 80%;
  height: 30px;
  box-shadow: rgb(97, 94, 94) 0px 5px 5px 0px;
}

.item1, .item2, .item3, .item4 p{
  padding-left: 5%;
}

.itens1, .itens2, .itens3, .itens4{
  padding-right: 45%;
  padding-top: 5px;
  
}

.caixaDoFiltro ul li{
  text-align: left;      
}



.caixaDoFiltro button{
  margin-right: 40%;
  margin-left: 22%;
  margin-top: 20%;
  width: 130px;
}

#lixeira{
margin:30px;
  cursor: pointer;
}

.centralSenaiMenu {
  width: auto;
  height: 60px;
  border: 1px solid #000;
  background: #EC1C24;    
}

.centralLink {
  color: inherit;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif
}

/* pop up vagas */

.popUpVagas{
  width: 90%;
  max-height: 550px;
  border-radius: 2em;
  text-align: center;
}

.botaoFecharPupUpMobile{
  border-radius: 30px;
  font-size: 15px;
  width: 30px;
  position: absolute;
  position: absolute; 
  right: 0; 
  top: 0; 
  margin: 20px;
  background: white;
  border: solid 1px #ff0008;
}

.scrollVagasPopUp{
  max-height: 400px;
  overflow-y: scroll;
}

@media screen and (max-width: 990px) {
  .sua-caixa {
    display: none;
  }
}
  

.card{
  margin-left: 8%;
}