.divisoriaCard {
    left: 0;
    width: 100%;
    border: solid red;
}

.filter-search {
    padding: 3%;
}

.cardVaga {
    border-radius: 20px !important;
    width: 85%;
    background: #FFF;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.60);

}

.cardInfo {
    border-radius: 20px !important;
    min-height: 80%;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 15px 15px 20px 5px rgba(0, 0, 0, 0.50);
}

.logo {
    width: 35px;
    height: 35px;
    margin-bottom: 1%;
}

.logoL {
    width: 70px;
    height: 70px;
    margin-left: 2%;
    margin-bottom: 0.5%;
}

.mobilebar {
    width: 50% !important;
}

.containerCandidatos{
    border: 1px solid black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: start;
}

.containerCandidatos img{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    
}

.containerCandidatos p{
    margin-top: 3%;
    margin-left: 10px;
    font-size: 16px;
    
}

.fundoCandidatos{
    overflow-y: scroll;
    height: 500px;
}

@media (max-width: 768px) {
    .mobilebar {
        width: 100% !important;
    }

  
}

/* pop up de cadastrar vagas*/
.popupCadastro {
    position: absolute;
    top: 100px;
    left: 35%;

    width: 550px;
    height: 600px;
    background-color: rgb(219, 219, 219);
    border: 1px solid black;
    padding: 10px;
    z-index: 999;
    overflow-y: scroll;
}

@media (max-width: 768px) {
    .popupCadastro {
        top: 50px;
        left: 50px;
        width: 300px;
        height: 700px;
    }
}


